body{
    color: #686868;
    font-family: 微软雅黑;
}
/*导航*/
.navbar-default{
    background-color: #148cca;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.navbar-default .navbar-text{
    color: #fff;
    font-weight: bold;
}
.navbar-toggle{
    border: none;
}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}
.navbar-default .navbar-link:hover{
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #fff;
}
.navbar{
    border: none;
}
/*轮播图*/
#myCarousel{
    margin-top: 50px;
}

/*主体内容*/
.cont{
    height: 300px;
    margin-top: 20px;
}
.sae{
    color: #2AAAEC;
}
.mybtn{
    margin: 20px 0;
}
h3,h2{
    font-weight: bold;
}
.myP{
    margin-top: 10px;
}
.success_p{
    font-size: 18px;
    font-weight: bold;
    margin-top: 98px;
}
.my_p_sty{
    margin-bottom: 20px;
}
h4{
    font-weight: bold;
}


@media all and (max-width: 768px) {
    #myWb{
        position: absolute;
        top: 7px;
        left: 50%;
        font-size: 12px;
    }
    .myimg{
        width: 40%;
    }
    h3{
        font-size: 20px;
    }
    h2{
        font-size: 26px;
    }
    p,li{
        font-size: 12px;
    }
    .navbar-default .navbar-nav>li>a{
        font-size: 14px;
    }
    .video{
        margin-top: 30px;
    }
    .success_p{
        margin-top: 20px;
        font-size: 14px;
    }
}